  /* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("/assets/fonts/Montserrat-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("/assets/fonts/Montserrat-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Merriweather";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Merriweather-Regular.woff") format("woff"), url("/assets/fonts/Merriweather-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Merriweather";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Merriweather-Bold.woff") format("woff"), url("/assets/fonts/Merriweather-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Raleway-Regular.woff") format("woff"), url("/assets/fonts/Raleway-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Raleway";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Raleway-Medium.woff") format("woff"), url("/assets/fonts/Raleway-Medium.woff2") format("woff2");
  }
  
  body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
  }
  /* Header */
  
  .main-header {
    font-family: "Montserrat";
    font-weight: 700;
    background-color: #eff0f2;
  }
  
  .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 65px 15px 0;
  }
  
  .logo-link {
    cursor: default;
  }
  
  .logo {
    font-size: 17px;
    font-weight: 700;
    border: 5px solid #000;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 10px;
  }
  
  .logo span {
    font-size: 21px;
    color: #77efe5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
  }
  
  .menu {
    width: 30px;
  }
  
  .menu-btn {
    position: relative;
    bottom: -10px;
    display: block;
    width: 30px;
    height: 4px;
    background-color: #000;
    border: 0;
    cursor: pointer;
  }
  
  .menu-btn:hover {
    opacity: 0.5;
  }
  
  .menu-btn::before {
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    width: 30px;
    height: 4px;
    content: "";
    background-color: #000;
  }
  
  .menu-btn::after {
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 30px;
    height: 4px;
    content: "";
    background-color: #000;
  }
  
  .header-buttom {
    position: relative;
    max-width: 1140px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding: 195px 15px 210px;
    line-height: 1.3;
    letter-spacing: 2px;
  }
  
  .header-buttom::after {
    position: absolute;
    right: 105px;
    bottom: 135px;
    display: block;
    width: 76px;
    height: 88px;
    content: "";
    background-image: url("../img/header.png");
  }
  
  .header-text {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 5px 6px rgba(0, 0, 0, 0.27);
    margin: 0 0 153px;
  }
  
  .header-text span {
    background-color: #b2f2ee;
    padding: 0 10px;
  }
  
  .header-btn {
    font-size: 18px;
    color: #000;
    border: 2px solid #000;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    border-radius: 3px;
    padding: 14px 45px;
    opacity: 0.75;
  }
  
  .header-btn:hover {
    background: #b2f2ee;
  }
  /* Main content */
  
  .conteiner {
    padding: 120px 0 165px;
  }
  
  .conteiner:nth-child(2n-1) {
    background-color: #f8fafa;
  }
  
  .title,
  .description {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
  
  .description {
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    opacity: 0.62;
  }
  
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    padding: 137px 15px 0;
  }
  /* About us */
  
  .about-item {
    position: relative;
    width: 555px;
  }
  
  .about-item::before {
    position: absolute;
    top: 35px;
    left: 35px;
    display: block;
    content: "";
    width: 480px;
    height: 415px;
    background-color: #eff0f2;
  }
  
  .about-img {
    position: relative;
    top: 0;
    left: 80px;
    display: block;
    width: 392px;
    height: 483px;
    -webkit-box-shadow: 1px 1px 19px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 1px 19px -1px rgba(0, 0, 0, 0.45);
  }
  
  .about-description {
    max-width: 485px;
    padding: 0 35px;
    letter-spacing: 1px;
  }
  
  .about-title {
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    margin: 0;
  }
  
  .about-text {
    line-height: 31px;
    text-align: justify;
  }
  
  .about-block:first-child h3 {
    font-size: 20px;
  }
  
  .about-block:first-child {
    margin: 0 0 30px;
  }
  /* Work */
  
  .work {
    padding-bottom: 110px;
  }
  
  .work .wrapper {
    padding: 110px 15px 0;
  }
  
  .work-img {
    margin: 0 0 15px;
  }
  /* Service */
  
  .service {
    padding: 115px 15px 105px;
  }
  
  .service .wrapper {
    padding: 105px 15px 0;
  }
  
  .service-item {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    color: #fff;
    margin: 0 0 15px;
  }
  
  .service-item::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.5);
  }
  
  .service-information {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  .service-item:hover .service-information {
    box-sizing: border-box;
    display: block;
    color: #000;
    background-color: #71f5ea;
    width: 100%;
    height: 100%;
    padding: 55px 65px;
  }
  
  .service-btn {
    position: absolute;
    bottom: 65px;
    left: 55px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.4;
  }
  
  .service-btn::before,
  .service-btn::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    background-color: #000;
  }
  
  .service-btn::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .service-btn::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .service-description {
    position: absolute;
    bottom: 55px;
    left: 65px;
    display: block;
    max-width: 360px;
    z-index: 1;
  }
  
  .service-item:hover .service-description {
    display: none;
  }
  
  .service-title {
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 28px;
    opacity: 0.95;
  }
  
  .service-text {
    line-height: 28px;
    margin: 0 0 35px;
    opacity: 0.75;
  }
  
  .service-link {
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.8;
  }
  
  .service-link::after {
    position: absolute;
    top: 0;
    right: -60px;
    display: block;
    width: 22px;
    height: 15px;
    content: "";
    background-image: url("../img/service-link.png");
    opacity: 0.6;
  }
  /* Team */
  
  .team {
    padding: 120px 0 95px;
  }
  
  .team .wrapper {
    padding: 108px 15px 0;
  }
  
  .team-item {
    position: relative;
    margin: 0 0 15px;
  }
  
  .team-item img {
    display: block;
  }
  
  .team-description {
    position: absolute;
    bottom: 17px;
    left: 20px;
    display: none;
    width: 255px;
    height: 160px;
    background: #6ff5eb;
    padding: 40px;
    -webkit-box-shadow: 1px 1px 19px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 1px 19px -1px rgba(0, 0, 0, 0.45);
  }
  
  .team-item:hover .team-description {
    display: block;
  }
  
  .team-description::before {
    position: absolute;
    top: -19px;
    left: 13px;
    display: block;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #6ff5eb;
    content: "";
  }
  
  .team-title {
    font-family: "Merriweather";
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .team-title span {
    font-size: 15px;
    font-style: italic;
    color: #767070;
    text-transform: capitalize;
  }
  
  .team-text {
    line-height: 1.5;
    opacity: 0.8;
  }
  
  .social-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 35px 0 0;
  }
  
  .social-team-item {
    margin: 0 10px 0 0;
  }
  
  .social-team-item:last-child {
    margin: 0;
  }
  
  .social-team-link {
    color: #000;
    opacity: 0.7;
  }
  
  .social-team-link:hover {
    cursor: pointer;
    opacity: 1;
  }
  /* Testimonial */
  
  .testimonial {
    padding: 120px 0 200px;
  }
  
  .testimonial .wrapper {
    position: relative;
    padding: 120px 15px 0;
  }
  
  .testimonial-item {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .testimonial-images {
    position: relative;
    width: 390px;
  }
  
  .testimonial-images::before {
    position: absolute;
    top: 25px;
    left: 0;
    display: block;
    content: "";
    width: 390px;
    height: 368px;
    background-color: #eff0f2;
  }
  
  .testimonial-img {
    position: relative;
    top: 0;
    left: 35px;
    display: block;
    width: 319px;
    height: 410px;
    -webkit-box-shadow: 1px 1px 19px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 1px 19px -1px rgba(0, 0, 0, 0.45);
  }
  
  .testimonial-description {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 667px;
    min-height: 368px;
    background-color: #eaebed;
    text-align: center;
    padding: 97px 83px 35px;
    margin: 25px 0 25px;
  }
  
  .testimonial-title {
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .testimonial-title span {
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    color: #787878;
  }
  
  .testimonial-text {
    line-height: 1.6;
    letter-spacing: 1px;
    opacity: 0.7;
    margin: 28px 0 30px;
  }
  
  .star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .star-item {
    display: block;
    width: 16px;
    height: 14px;
    background: url("../img/star.png") no-repeat;
    margin: 0 10px 0 0;
  }
  
  .star-item:last-child {
    margin: 0;
  }
  
  .testimonial-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .testimonial-nav {
    position: relative;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 135px;
  }
  
  .control-item {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 19px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 1px 19px -1px rgba(0, 0, 0, 0.45);
    cursor: pointer;
  }
  
  .control-prev {
    background: #fff url("../img/btnleft.png") center no-repeat;
  }
  
  .control-next {
    background: #fff url("../img/btnright.png") center no-repeat;
  }
  
  .control-prev:hover {
    background: #71f6eb url("../img/btnleft.png") center no-repeat;
  }
  
  .control-next:hover {
    background: #71f6eb url("../img/btnright.png") center no-repeat;
  }
  /* .testimonial-controls .owl-theme .owl-dots {
    float: left;
    text-align: left;
    margin-left: 150px;
  } */
  
  .btn {
    border: 3px solid #262b2b;
  }
  /* Footer */
  
  .partners {
    display: block;
    padding: 110px 0;
    margin: 0 auto;
  }
  
  .feedback {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 115px 0;
  }
  
  .feedback-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .feedback-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(2, 22, 35, 0.71);
    width: 550px;
    padding: 35px;
  }
  
  .feedback-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0;
    margin: 0 0 22px 0;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }
  
  .feedback-input::-webkit-input-placeholder {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .feedback-btn {
    display: block;
    width: 242px;
    padding: 15px 0;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    background-color: #6eeee4;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
  }
  
  .feedback-btn:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .feedback-description {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 498px;
    font-size: 15px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(2, 22, 35, 0.71);
    padding: 40px 20px 23px;
  }
  
  .feedback-item {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    margin: 0;
  }
  
  .phone:hover,
  .email:hover {
    text-decoration: underline;
  }
  
  .map {
    width: 455px;
    height: 224px;
    background-image: url("../img/map.jpg");
  }
  
  .footer-bottom {
    color: #454545;
    text-align: center;
    background-color: #262b2e;
    padding: 83px 0 85px;
  }
  
  .social-title {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
  }
  
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 15px 0 40px;
  }
  
  .social-item {
    margin: 0 5px 0 0;
  }
  
  .social-item:last-child {
    margin: 0;
  }
  
  .social-link {
    display: block;
    width: 45px;
    height: 40px;
    color: #bec0c1;
    background-color: #424648;
  }
  
  .social-link:hover {
    color: #000;
    background-color: #6eeee4;
  }
  
  .copyright {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
  }
  /* Tablet */
  
  @media only screen and (max-width: 1140px) {
    /* Header */
    .header-top {
      max-width: 768px;
      padding: 45px 30px 0;
    }
    /* Main content */
    .wrapper,
    .work .wrapper,
    .service .wrapper,
    .team .wrapper,
    .testimonial .wrapper {
      max-width: 768px;
      padding: 110px 10px 0;
    }
    /* About */
    .about-images {
      margin: auto;
    }
    .about-images::before {
      left: -45px;
    }
    .about-img {
      top: 0;
      left: 0;
    }
    .about-btn {
      left: 175px;
    }
    .about-description {
      padding: 90px 0 0;
      margin: 0 auto;
    }
    /* Service  */
    .service {
      padding: 115px 0 105px;
    }
    .service-item:nth-child(1),
    .service-item:nth-child(2),
    .service-item:nth-child(3),
    .service-item:nth-child(4),
    .service-item:nth-child(5),
    .service-item:nth-child(6) {
      width: 100%;
    }
    .service-item:nth-child(n+2)::after,
    .service-item:nth-child(2)::after,
    .service-item:nth-child(3n+3)::after {
      width: 100%;
    }
    .service-item:nth-child(1) div {
      width: 565px;
    }
    /* Testimonial */
    .testimonial {
      padding: 120px 0 100px;
    }
    .testimonial-images {
      margin: auto;
    }
    .testimonial-images::before {
      left: 0;
    }
    .testimonial-description {
      width: 100%;
      margin: 90px auto;
    }
    .testimonial-slider {
      right: 310px;
    }
    /* Footer  */
    .partners {
      display: none;
    }
    .feedback {
      max-width: 100%;
    }
    .feedback-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .feedback-form {
      margin: 0 auto 20px;
    }
    .feedback-description {
      width: 620px;
      padding: 35px;
      margin: 0 auto;
    }
  }
  /* Mobile */
  
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    /* Header */
    .header-top {
      max-width: 320px;
      padding: 45px 30px 0;
    }
    .header-text {
      font-size: 40px;
    }
    .header-buttom::after {
      bottom: 70px;
      right: 37%;
    }
    .header-buttom {
      padding: 110px 15px 200px;
    }
    /* Main content */
    .wrapper,
    .work .wrapper,
    .service .wrapper,
    .team .wrapper,
    .testimonial .wrapper {
      max-width: 320px;
      padding: 80px 0 0;
    }
    /* About */
    .about-images,
    .about-images::before,
    .about-img {
      width: 320px;
    }
    .about-images::before {
      left: 0;
    }
    .about-btn {
      left: 140px;
    }
    .about-description {
      max-width: 300px;
    }
    .about-title {
      text-align: center;
    }
    /* Work  */
    .work-img {
      min-width: 320px;
      margin: 0 0 15px;
    }
    /* Service  */
    .service-item {
      width: 100%;
    }
    .service-item:nth-child(1) {
      position: relative;
      width: 100%;
      min-height: 535px;
      color: #000;
      background-color: #71f5ea;
    }
    .service-description {
      left: 25px;
      width: 270px;
      text-align: justify;
    }
    .service-item:nth-child(1) div,
    .service-item:nth-child(3) div,
    .service-item:nth-child(4) div,
    .service-item:nth-child(6) div {
      top: 65px;
      width: 270px;
    }
    /* Team  */
    .team-item {
      max-width: 320px;
    }
    .team-item img {
      width: 320px;
    }
    .team-description {
      left: 20px;
      width: 240px;
      padding: 20px;
    }
    /* Testimonial */
    .testimonial-images {
      width: 320px;
    }
    .testimonial-images::before {
      width: 320px;
    }
    .testimonial-img {
      left: 0;
      width: 319px;
    }
    .testimonial-btn {
      left: 140px;
    }
    .testimonial-description {
      width: 100%;
      padding: 60px 30px;
    }
    .testimonial-title {
      font-size: 16px;
    }
    .testimonial-slider {
      right: 95px;
    }
    /* Footer  */
    .feedback {
      width: 100%;
    }
    .feedback-wrapper {
      padding: 0;
    }
    .feedback-form {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
    }
    .feedback-btn {
      margin: 0 auto;
    }
    .feedback-description,
    .map {
      width: 100%;
    }
    .copyright {
      font-size: 12px;
    }
  }