@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("/assets/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("/assets/fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Merriweather-Regular.woff") format("woff"), url("/assets/fonts/Merriweather-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Merriweather-Bold.woff") format("woff"), url("/assets/fonts/Merriweather-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("/assets/fonts/Raleway-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("/assets/fonts/Raleway-Medium.woff2") format("woff2");
}

body {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0;
  padding: 0;
}


/* Header */

.main-header {
  font-family: "Montserrat";
  font-weight: 700;
  background-color: #eff0f2;
}

.header-top {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  padding: 65px 15px 0;
}

.logo-link {
  cursor: default;
}

.logo {
  font-size: 17px;
  font-weight: 700;
  border: 5px solid #000;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 10px;
}

.logo span {
  font-size: 21px;
  color: #77efe5;
}

.menu {
  width: 30px;
}

.menu-btn {
  position: relative;
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
  border: 0;
}

.menu-btn::before {
  position: absolute;
  top: 20px;
  left: 0;
  display: block;
  width: 30px;
  height: 4px;
  content: "";
  background-color: #000;
}

.menu-btn::after {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 30px;
  height: 4px;
  content: "";
  background-color: #000;
}

.header-buttom {
  position: relative;
  max-width: 1140px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding: 195px 15px 210px;
  line-height: 1.3;
  letter-spacing: 2px;
}

.header-buttom::after {
  position: absolute;
  right: 105px;
  bottom: 135px;
  display: block;
  width: 76px;
  height: 88px;
  content: "";
  background-image: url("../img/header.png");
}

.header-text {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 153px;
}

.header-text span {
  background-color: #b2f2ee;
  padding: 0 10px;
}

.header-btn {
  font-size: 18px;
  color: #000;
  border: 2px solid #000;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 14px 45px;
  opacity: 0.75;
}


/* Main content */

.conteiner {
  padding: 120px 0 165px;
}

.conteiner:nth-child(2n-1) {
  background-color: #f8fafa;
}

.title,
.description {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.description {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  opacity: 0.62;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
  padding: 137px 15px 0;
}


/* About us */

.about-images {
  position: relative;
  width: 400px;
}

.about-images::before {
  position: absolute;
  top: 35px;
  left: 35px;
  display: block;
  content: "";
  width: 480px;
  height: 415px;
  background-color: #eff0f2;
}

.about-img {
  position: relative;
  top: 0;
  left: 80px;
  display: block;
  width: 392px;
  height: 483px;
}

.about-nav {
  position: relative;
  display: flex;
}

.about-nav input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.about-btn {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: -52px;
  left: 230px;
  z-index: 1000;
  width: 50px;
}

.about-btn label {
  width: 10px;
  height: 10px;
  margin: 0;
  background-color: #d0d0d0;
  border-radius: 2px;
  cursor: pointer;
}

.about-btn label:hover {
  background-color: #71f6eb;
}

.about-nav-1:checked~.about-btn label[for="about-btn-1"],
.about-nav-2:checked~.about-btn label[for="about-btn-2"],
.about-nav-3:checked~.about-btn label[for="about-btn-3"],
.about-nav-4:checked~.about-btn label[for="about-btn-4"] {
  background-color: #71f6eb;
}

.about-description {
  max-width: 485px;
  padding: 0 35px;
  letter-spacing: 1px;
}

.about-title {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0;
}

.about-text {
  line-height: 31px;
  text-align: justify;
}

.about-block:first-child h3 {
  font-size: 20px;
}

.about-block:first-child {
  margin: 0 0 30px;
}


/* Work */

.work {
  padding-bottom: 110px;
}

.work .wrapper {
  padding: 110px 15px 0;
}

.work-img {
  margin: 0 0 15px;
}


/* Service */

.service {
  padding: 115px 15px 105px;
}

.service .wrapper {
  padding: 105px 15px 0;
}

.service-item {
  position: relative;
  display: block;
  width: 474px;
  height: 371px;
  color: #fff;
  margin: 0 0 15px;
}

.service-item:nth-child(1) {
  position: relative;
  width: 653px;
  height: 419px;
  color: #000;
  background-color: #71f5ea;
}

.service-btn {
  position: absolute;
  bottom: -42px;
  left: 0;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.4;
}

.service-btn::before,
.service-btn::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 20px;
  background-color: #000;
}

.service-btn::before {
  transform: rotate(45deg);
}

.service-btn::after {
  transform: rotate(-45deg);
}

.service-item:nth-child(2) {
  width: 474px;
  height: 422px;
  background-image: url("../img/service1.jpg");
}

.service-item:nth-child(3) {
  width: 652px;
  height: 371px;
  background-image: url("../img/service2.jpg");
}

.service-item:nth-child(4) {
  width: 474px;
  height: 370px;
  background-image: url("../img/service3.jpg");
}

.service-item:nth-child(5) {
  width: 474px;
  height: 370px;
  background-image: url("../img/service4.jpg");
}

.service-item:nth-child(6) {
  width: 651px;
  height: 371px;
  background-image: url("../img/service5.jpg");
}

.service-item:nth-child(n+2)::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 474px;
  height: 371px;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

.service-item:nth-child(2)::after {
  width: 474px;
  height: 422px;
}

.service-item:nth-child(3n+3)::after {
  width: 651px;
  height: 371px;
}

.service-item:nth-child(1) div {
  top: 65px;
  width: 450px;
}

.service-description {
  position: absolute;
  top: 185px;
  left: 65px;
  width: 320px;
  z-index: 1;
}

.service-item:nth-child(3) div {
  top: 164px;
  width: 405px;
}

.service-item:nth-child(4) div {
  top: 164px;
  width: 320px;
}

.service-item:nth-child(5) div {
  top: 130px;
  width: 270px;
}

.service-item:nth-child(6) div {
  top: 130px;
  width: 400px;
}

.service-title {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 28px;
  opacity: 0.95;
}

.service-item:nth-child(1) h2 {
  opacity: 0.83;
}

.service-text {
  line-height: 28px;
  margin: 0 0 35px;
  opacity: 0.75;
}

.service-item:nth-child(1) p {
  opacity: 0.90;
}

.service-link {
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.8;
}

.service-link::after {
  position: absolute;
  top: 0;
  right: -60px;
  display: block;
  width: 22px;
  height: 15px;
  content: "";
  background-image: url("../img/service-link.png");
  opacity: 0.6;
}

.team {
  padding: 120px 0 95px;
}

.team .wrapper {
  padding: 108px 15px 0;
}

.team-item {
  position: relative;
  margin: 0 0 15px;
}

.team-item img {
  display: block;
}

.team-description {
  position: absolute;
  bottom: 17px;
  left: 20px;
  display: block;
  width: 255px;
  height: 160px;
  background: #6ff5eb;
  padding: 40px;
}

.team-title {
  font-family: "Merriweather";
  font-size: 20px;
  text-transform: uppercase;
}

.team-title span {
  font-size: 15px;
  font-style: italic;
  color: #767070;
  text-transform: capitalize;
}

.team-text {
  line-height: 1.5;
  opacity: 0.8;
}

.social-team {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 35px 0 0;
}

.social-team-item {
  margin: 0 10px 0 0;
}

.social-team-item:last-child {
  margin: 0;
}

.social-team-link {
  color: #000;
  opacity: 0.7;
}

.social-team-link:hover {
  cursor: pointer;
  opacity: 1;
}

.testimonial {
  padding: 120px 0 200px;
}

.testimonial .wrapper {
  padding: 120px 15px 0;
}

.testimonial-images {
  position: relative;
  width: 390px;
}

.testimonial-images::before {
  position: absolute;
  top: 25px;
  left: 0;
  display: block;
  content: "";
  width: 390px;
  height: 368px;
  background-color: #eff0f2;
}

.testimonial-img {
  position: relative;
  top: 0;
  left: 35px;
  display: block;
  width: 319px;
  height: 410px;
}

.testimonial-nav {
  position: relative;
  display: flex;
}

.testimonial-nav input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.testimonial-btn {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: -60px;
  left: 175px;
  z-index: 1000;
  width: 50px;
}

.testimonial-btn label {
  width: 10px;
  height: 10px;
  margin: 0;
  background-color: #d0d0d0;
  border-radius: 2px;
  cursor: pointer;
}

.testimonial-btn label:hover {
  background-color: #71f6eb;
}

.testimonial-nav-1:checked~.testimonial-btn label[for="testimonial-btn-1"],
.testimonial-nav-2:checked~.testimonial-btn label[for="testimonial-btn-2"],
.testimonial-nav-3:checked~.testimonial-btn label[for="testimonial-btn-3"],
.testimonial-nav-4:checked~.testimonial-btn label[for="testimonial-btn-4"] {
  background-color: #71f6eb;
}

.testimonial-description {
  position: relative;
  box-sizing: border-box;
  width: 667px;
  height: 368px;
  background-color: #eaebed;
  text-align: center;
  padding: 97px 83px 65px;
  margin: 25px 0 0;
}

.testimonial-title {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.testimonial-title span {
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  color: #787878;
}

.testimonial-text {
  line-height: 1.6;
  letter-spacing: 1px;
  opacity: 0.7;
  margin: 28px 0 30px;
}

.star {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.star-item {
  display: block;
  width: 16px;
  height: 14px;
  background: url("../img/star.png") no-repeat;
  margin: 0 10px 0 0;
}

.star-item:last-child {
  margin: 0;
}

.testimonial-slider {
  position: absolute;
  bottom: -77px;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 135px;
}

.slider-btn {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.left {
  background: #fff url("../img/btnleft.png") center no-repeat;
}

.right {
  background: #71f6eb url("../img/btnright.png") center no-repeat;
}

.partners {
  display: block;
  padding: 110px 0;
  margin: 0 auto;
}

.feedback {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 115px 0;
}

.feedback-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.feedback-form {
  flex-direction: column;
  background-color: rgba(2, 22, 35, 0.71);
  width: 550px;
  padding: 35px;
}

.feedback-input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0;
  margin: 0 0 22px 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.feedback-input::-webkit-input-placeholder {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.feedback-btn {
  display: block;
  width: 242px;
  padding: 15px 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  background-color: #6eeee4;
  text-transform: uppercase;
  border: none;
}

.feedback-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.feedback-description {
  box-sizing: border-box;
  width: 498px;
  font-size: 15px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(2, 22, 35, 0.71);
  padding: 40px 20px 23px;
}

.feedback-item {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  margin: 0;
}

.phone:hover,
.email:hover {
  text-decoration: underline;
}

.map {
  width: 455px;
  height: 224px;
  background-image: url("../img/map.jpg");
}

.footer-bottom {
  font-size: 12px;
  color: #454545;
  text-align: center;
  background-color: #262b2e;
  padding: 90px 0 85px;
}

.social-title {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

.social {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 15px 0 40px;
}

.social-item {
  margin: 0 5px 0 0;
}

.social-item:last-child {
  margin: 0;
}

.social-link {
  display: block;
  width: 45px;
  height: 40px;
  color: #bec0c1;
  background-color: #424648;
}

.social-link:hover {
  color: #000;
  background-color: #6eeee4;
}

.copyright {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  margin: 0;
}